<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shapes</title>
</head>
<body>
    <% for (let shape of shapes) { %>
        <img src="<%= shape.image %>" style="width:5%">
        <li>ID: <%= shape.id %> </li>
        <li>Name: <%= shape.name %></li>

        <hr>
    <% } %>  
</body>
</html>