<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Really Exciting</title>
</head>
<body>
    
    <% if (viewCount > 20) { %>
        <h1>GREAT JOB</h1>
    <% } else { %>
        <%= viewCount %> 
    <% } %> 

    <% console.log('count: ', viewCount) %> 
</body>
</html>